In [19]:
import pandas as pd

In [21]:
df = pd.read_csv("./covid19-spain-cases.csv")
df=df[["ccaa", "fecha", "casos", "muertes", "nuevos"]]
df.columns=["Region", "Date", "Cases", "Dead", "New_Cases"]

df["Cases"]=df["Cases"].fillna(0)
df["Dead"]=df["Dead"].fillna(0)
df["New_Cases"]=df["New_Cases"].fillna(0)

df["Cases"]=df["Cases"].astype(int)
df["Dead"]=df["Dead"].astype(int)
df["New_Cases"]=df["New_Cases"].astype(int)
df["Date"]=pd.to_datetime(df["Date"], format='%Y-%m-%d', errors='ignore')

df

         Region       Date  Cases  Dead  New_Cases
0     Andalucía 2020-03-02     12     0          0
1     Andalucía 2020-03-03     13     0          1
2     Andalucía 2020-03-04     13     0          0
3     Andalucía 2020-03-05     12     0         -1
4     Andalucía 2020-03-06     21     0          9
...         ...        ...    ...   ...        ...
1117  PaísVasco 2020-04-25  12366  1212        485
1118  PaísVasco 2020-04-26  12455  1230         89
1119  PaísVasco 2020-04-27  12513  1241         58
1120  PaísVasco 2020-04-28  12564  1255         51
1121  PaísVasco 2020-04-29  12619  1274         55

[1122 rows x 5 columns]

In [ ]:
df.to_csv('covid19-spain-cases.csv', index=False)